import sqlite3
conn = sqlite3.connect('password_manager.db')
cursor = conn.cursor()
def create_table():
    conn = sqlite3.connect('password_manager.db')
    cur = conn.cursor()

    cur.execute('''CREATE TABLE IF NOT EXISTS passwords (
                    id INTEGER PRIMARY KEY,
                    password TEXT
                    why      TEXT
                )''')

    conn.commit()
    conn.close()
def add_password():
    conn = sqlite3.connect('password_manager.db')
    cursor = conn.cursor()
    password = input("Enter password to store: ")
    
    cursor.execute("INSERT INTO passwords (password) VALUES (?) ", (password,))
    conn.commit()
    conn.close()
    print("Password have been stored successfully! ")

def print_passwords():
    conn = sqlite3.connect('password_manager.db')
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM passwords")
    passwords = cursor.fetchall()
    print("Passwords: ")
    for password in passwords:
        print(f"{password[0]}. {password[1]}. {password[2]}. {password[3]}. {password[4]}")

if __name__ == '__main__':
    create_table()
    add_password()
    print_passwords()
